#
# globals
DEBUG=false
VERBOSE=false

#
# downloadManager configuration

# print messages from steamcmd to stdout of lib/steamcmd.mjs importer / caller
# typically bin/downloadManager.mjs
DEBUG_STEAMCMD=false
